.rst-content .admonition-announcement .admonition-title .fa-info-circle:before {
    content: "\f0a1";
}
.rst-content .fa-search-plus:before,
.rst-content .admonition-announcement .admonition-title:before,
.wy-inline-validate.wy-inline-validate-info .wy-input-context:before,
.wy-inline-validate.wy-inline-validate-warning .wy-input-context:before {
    content: "\f0a1";
}

/* Hide borders for tables inside announcement admonitions */
.rst-content .admonition-announcement table,
.rst-content .admonition-announcement th,
.rst-content .admonition-announcement td {
    border: none !important;
}
